/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.8rem;
}

ul li {
    list-style: none;
}

 li a {
    padding: 0.7rem;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
    font-size: 0.6rem;
}