/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.8rem;
}

 li a {
    padding: 0.7rem;
    text-decoration: none;
}


 /* Utilities */

.flex{
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}